@import "../stylesheets/base.scss";

body {
  margin: 0;
  font-family: $roboto;
}

ul {
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  align-items: stretch;
  position: relative;

  .compose-email-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);

    &.hide-compose-email {
      display: none;
    }
  }
}