$white: #fff;
$black: #000;

$primary-green: #1bb394;
$very-light-blue: #f4f5f6;
$dashboard-headers: #676a6c;
$dashboard-item-border: #e7eaec;
$docs: #ef5352;
$social: #1c84c6;
$advertising: #23c6c8;
$clients: #f8ac59;
$action-icons: #edeff0;
$mail-color: #858688;
$selected: #f9f9f8;
$dashboard-bg: #f3f3f4;
$profile-bg: #243745;
$profession: #718698;
$menu: #2f4050;
$item: #9ba6b7;